.header {
    padding: 0 1rem;
    margin-bottom: 0;
}

.hr {
    width: 98%;
}

.lobby {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

table {
    height: 40%;
    left: 10%;
    margin: 20px 20px;
    overflow-y: scroll;
    position: static;
    width: 60%;
}

thead th {
    background: #0e1725;
    color: #FFF;
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 2px;
}

tr {
    background: #f4f7f8;
    border-bottom: 1px solid #FFF;
    margin-bottom: 5px;
}

th, td {
    font-weight: 400;
    font-size: 16px;
    padding: 20px;
    text-align: center;
    width: 33.3333%;
}

.rooms:hover {
    background-color: lightgray;
}

.additional {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.info {
    background-color: white;
    padding: 0 100px;
    margin-top: 20px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    border-radius: 20%;
}

.current {
    text-decoration: underline;
    margin-bottom: 0;
}

.playerList {
    list-style: decimal;
    text-align: left;
    padding-left: 1em;
}

.users {
    width: 75%;
    margin-left: 0;
}

.bot {
    display: flex;
    justify-content: center;
}

.join {
    background-color: #62eddf;
    border: none;
    color: white;
    padding: 0.75rem 1.5rem;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    border-radius: 12px;
}

.join:hover {
    background-color: #23e7d4;
}