.Chat-container {
  height: 90%;
  margin-bottom: 0;
  padding-bottom: 0;
}

.Chat-newContainer {
  width: 100%;
  padding-bottom: 0;
  margin-bottom: 0;
}

.Chat-historyContainer {
  flex-grow: 1;
  overflow-y: auto;
}

.welcome {
  margin-top: 1rem;
  text-decoration: underline;
  text-align: center;
}
