.Chat-container {
  height: 95%;
}

.Chat-newContainer {
  width: 100%;
}

.Chat-historyContainer {
  flex-grow: 1;
  overflow-y: auto;
}

.welcome {
  text-decoration: underline;
  text-align: center;
}
