*{
    background: transparent;
}

body {
    background-color: #ebebeb;
}

/* header {
    background-color: lightblue;
    border-bottom: 1px solid lightblue;
    position: relative;
    width: 100%;
}

h1 {
    text-align: left;
    margin-top: 0;
    padding-top: 20px;
} */


.prompt {
    text-align: center;
}

.title {
    font-weight: 900;
    font-size: 24pt;
    padding: 0;
    margin: 0;
}

.tab {
    font-size: 14pt;
    padding: 0;
    margin: auto;
}

.topbar {
    list-style: none;
    margin: 0;
    padding: 0;
    background: #0e1725;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-between;
}
  
.topbar a {
    text-decoration: none;
    display: block;
    padding: 0.25em;
    color: white;
}

.topbar a:hover {
    background: lightblue;  
}

.navigation {
    list-style: none;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: flex-end;
}

.navigation li {
    padding: 0 0.5em;
}

@media all and (max-width: 800px) {
    .topbar {
        justify-content: space-around;
    }
}

@media all and (max-width: 600px) {
    .topbar {
        -webkit-flex-flow: column wrap;
        flex-flow: column wrap;
        padding: 0;
    }

    .topbar a {
        text-align: center;
        padding: 10px;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    .topbar li:last-of-type a {
        border-bottom: none;
    }
}
